/**
*Design field and form
**/
.required::after{
    content: "*";
    color: red;
}
/**
*input design
**/
input{
    border-radius:0.3em;
    padding:.5em;
    border: solid 1px rgb(128,128,128); 
}
button[type="submit"]{
    border-radius:0.3em;
    background-color:var(--success);
    color:var(--light);
    padding:0.5em;
    border: none;
}
button[type="submit"]:hover{
    background-color:#19642a;
}